<!DOCTYPE html>
<html>
  <head>
    <title>WhateverForever</title>
    <link rel="icon" type="image/png" href="/assets/lazerkrusty-tiny" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="body-container" style='background-color: #F8F8F5' >
    <img src="/cat-background" />
    <div>
      <%= yield %>
    </div>
  </body>
</html>
